


.adac{
    max-width: 100px;
   
  }
  
  .welcome-card {
    margin-top: 10px;;
    --background: url('/assets/img/grid.jpg') 0 0/100% 100% no-repeat;
    min-height: 35vh;
    max-height: 35vh;
    overflow: hidden;
    color: aliceblue;  
    
  }
  
  .item {
    background: transparent;  
   }
  
   .list {
     margin-top: -170px;
     position: absolute;
     margin-left: 30px;
   }

   ion-item {
      min-width: 300px;
  }

  .lista {
      margin-top: 100px;
  }