<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="prc">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Bem Vindo!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Controle de Despesas de Mercado.</p>
      <p>Escolha o mercado para pesquisa  e comparação de produtos</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="list">
    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'/assets/img/adacadao.jpg'">
      </ion-thumbnail>
      <ion-label>Supermecado Adacadão</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'/assets/img/extra.jpg'">
      </ion-thumbnail>
      <ion-label>Supermecado Extra</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'/assets/img/savegnago.jpg'">
      </ion-thumbnail>
      <ion-label>Supermecado Savegnago</ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img [src]="'/assets/img/semprevale.jpg'">
      </ion-thumbnail>
      <ion-label>Supermecado Sempre Vale</ion-label>
    </ion-item>
  </ion-card>

</ion-content>