<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="prc">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Bem Vindo!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Controle de Despesas Mercado.</p>
      <p>Escolha o mercado para pesquisa de produtos</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="adac">
      <ion-img [src]="'/assets/img/adacadao.jpg'"></ion-img>
      <br>
      <ion-img [src]="'/assets/img/extra.jpg'"></ion-img>
  </ion-card>
</ion-content>